nav {
  height: 10%;
  width: 100%;
  color: azure;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.171);
  z-index: 3;
}
.manu {
  visibility: hidden;
  cursor: pointer;
}
.home:hover {
  cursor: pointer;
    background: linear-gradient(to right,rgb(255, 183, 0) 30%,rgb(0, 148, 87) 70%);
  transition: 0.5s;
  
}
.home:before {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 96%;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));  backdrop-filter: blur(10px);
  width: 10%;
  backdrop-filter: blur(10px);
  opacity: 0.8;
  height: 3.2rem;
  content: "";
}
/* .home:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  left: 96%;
  width: 10px;
  height: 3.2rem;
  background-image:linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  backdrop-filter: blur(10px);
    opacity: 0.8;
  content: "";
} */
.pageList:hover {
  color: white;
  cursor: pointer;
  background-color: #a390ff;
  border-radius: 15px;
  box-shadow: 0 5px 15px #6d4fff;
  transition-duration: 0.2s;
}

h4 {
  margin-right: 0.5%;
}
.home {
  margin-right: 24%;
  margin-left: 9%;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  font-size: 0.7rem;
  background: linear-gradient(to right, rgb(0, 148, 87) 30%,rgb(255, 183, 0) 70%);
  position: relative;
  transition: opacity 0.5s linear;
}
a {
  height: fit-content;
  width: fit-content;
  color: inherit;
  text-decoration: none;
}
.pageList{
  padding: 0.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 20px;
  transition-duration: 0.35s;
}
@media screen and (max-width: 480px) {
  .home {
    text-align: center;
    margin: 1%;
    margin-left: 3%;
    justify-content: baseline;
  }
  .manu {
    padding: 3%;
    font-size: 2rem;
    visibility: visible;
  }
  .pageList {
    display: none;
    visibility: hidden;
  }
}
