.text_container {
  padding-top: 3%;
  min-height: 93vh;
  max-width: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: whitesmoke;
}
.text_background {
  margin-top: 25%;
  margin-left: 5%;
  padding: 3px;
}
.text {
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}
button {
  border: none;
  height: 2.5rem;
  width: 8rem;
  border-radius: 9px;
  background-color: #8f79fd;
  color: rgb(238, 247, 247);
  font-size: medium;
  cursor: pointer;
  margin-left: 40%;
  padding-top: 11px;
}
.b {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.SpinAni {
  margin-left: 0.3rem;
}
button:hover {
  background-color: #6048d8;
}
.h1 {
  color: black;
  font-size: 3.5rem;
  font-weight: 900;
}
.h2 {
  margin-left: auto;
}
.h3 {
  color: rgba(0, 0, 0, 0.486);
}
@media screen and (max-width: 825px) {
  .text_container {
    padding-top: 10%;
    min-height: 50vh;
    min-width: 100%;
    margin: auto;
  }
  .text_background {
    margin: auto;
  }
  button {
    margin: auto;
    padding-left: none;
  }
}
